.env
./venv
.ipynb_checkpoints
.pytest_cache/
./trash/
./try_llm/
./scores
./data
./language_models
./.gitignore
./.git
./__pycache__
.dockerignore
./.gitattributes
Dockerfile
./.idea
./poetry/
./nextflow
